#android
proj.android/bin/
gen
obj
proj.android/libs/armeabi/*.so
proj.android/libs/armeabi
assets
proguard
local.properties
proj.android/bin/classes.dex
proj.android/libs/armeabi/libcocos2dcpp.so
proj.android/bin/resources.ap_
proj.ios_mac/DayDayUp.xcodeproj/project.pbxproj
proj.ios_mac/DayDayUp.xcodeproj/project.xcworkspace/xcuserdata/liubo.xcuserdatad/UserInterfaceState.xcuserstate
proj.ios_mac/DayDayUp.xcodeproj/xcuserdata/liubo.xcuserdatad/xcschemes/DayDayUp iOS.xcscheme
proj.ios_mac/DayDayUp.xcodeproj/project.pbxproj
proj.android/obj/local/armeabi/libcocos2dcpp.so
proj.android/bin/*.apk
.settings

# ios
build
xcuserdata
*.perspectivev3
*.pbxuser
*.DS_Store
.svn
proj.ios_mac/DayDayUp.xcodeproj/project.pbxproj
proj.ios_mac/DayDayUp.xcodeproj/project.xcworkspace/xcuserdata/liubo.xcuserdatad/UserInterfaceState.xcuserstate
proj.ios_mac/DayDayUp.xcodeproj/*.xcuserstate
proj.ios_mac/DayDayUp.xcodeproj/*.pbxproj
*.xcsettings

# from cocoapods
Pod*
*.xcworkspace

# vin32
Debug.win32
Release.win32
Debug.obj
Release.obj
*.pdb
*.aps
*.user
*.sdf
*.opensdf
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log

#runtime
cocos2d-x
