<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Resource/game/skin_green/bg_bottom.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1080,1920}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1080,1920}</string>
			</dict>
			<key>Resource/game/skin_green/bg_middle.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1086,2},{1080,1920}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1080,1920}</string>
			</dict>
			<key>Resource/game/skin_green/rail_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1926},{373,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,373}</string>
			</dict>
			<key>Resource/game/skin_green/rail_rect.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1926},{894,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{894,197}</string>
			</dict>
			<key>Resource/game/skin_green/rail_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2127},{301,301}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,301}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_skin_green.png</string>
			<key>realTextureFileName</key>
			<string>game_skin_green.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>