<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Resource/game/common/ball_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,761},{253,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,253}</string>
			</dict>
			<key>Resource/game/common/bar_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{592,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{592,146}</string>
			</dict>
			<key>Resource/game/common/capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,897},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Resource/game/common/faster.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,857},{172,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,36}</string>
			</dict>
			<key>Resource/game/common/long_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,2},{755,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{755,76}</string>
			</dict>
			<key>Resource/game/common/obstacle_bar_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,761},{280,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,146}</string>
			</dict>
			<key>Resource/game/common/pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,761},{47,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,57}</string>
			</dict>
			<key>Resource/game/common/ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,152},{397,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{397,88}</string>
			</dict>
			<key>Resource/game/common/resume.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,822},{47,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,57}</string>
			</dict>
			<key>Resource/game/common/scale_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,761},{92,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,180}</string>
			</dict>
			<key>Resource/game/common/shield.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,761},{250,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,241}</string>
			</dict>
			<key>Resource/game/common/short_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,911},{371,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,76}</string>
			</dict>
			<key>Resource/game/common/tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,2},{309,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,232}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_common.png</string>
			<key>realTextureFileName</key>
			<string>game_common.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>