<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ball.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,203},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>capsule.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,257},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>faster.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,964},{172,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{172,36}</string>
		</dict>
		<key>obstacle.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,2},{550,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{550,100}</string>
		</dict>
		<key>obstacle_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,860},{280,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{280,100}</string>
		</dict>
		<key>obstacle_rotation_long.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,933},{710,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{710,50}</string>
		</dict>
		<key>obstacle_rotation_short.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,203},{346,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{346,50}</string>
		</dict>
		<key>pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,964},{47,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{47,57}</string>
		</dict>
		<key>rail_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,556},{373,373}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{373,373}</string>
		</dict>
		<key>rail_rect.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{894,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{894,197}</string>
		</dict>
		<key>rail_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,556},{300,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>ready.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,439},{397,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{397,88}</string>
		</dict>
		<key>resume.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,964},{47,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{47,57}</string>
		</dict>
		<key>scale_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,407},{92,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{92,180}</string>
		</dict>
		<key>shield.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,503},{250,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{250,241}</string>
		</dict>
		<key>tip.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,203},{309,232}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{309,232}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>textureFileName</key>
		<string>Game.png</string>
		<key>realTextureFileName</key>
		<string>Game.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
