<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>menu_0000.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,973},{92,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,14}</string>
		</dict>
		<key>menu_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,796},{154,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{154,173}</string>
		</dict>
		<key>menu_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,928},{103,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{103,93}</string>
		</dict>
		<key>menu_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,796},{128,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{128,110}</string>
		</dict>
		<key>menu_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,565},{226,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{226,227}</string>
		</dict>
		<key>menu_new.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,928},{105,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{105,69}</string>
		</dict>
		<key>skin1.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,755},{68,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{68,60}</string>
		</dict>
		<key>skin2.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,827},{68,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{68,60}</string>
		</dict>
		<key>sound_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,565},{91,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{91,70}</string>
		</dict>
		<key>sound_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,660},{91,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{91,70}</string>
		</dict>
		<key>start.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{558,559}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{558,559}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>textureFileName</key>
		<string>menu.png</string>
		<key>realTextureFileName</key>
		<string>menu.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
